.card {
  box-shadow: #33333346 0 0 10px;
}

.card__valuelist {
  list-style: none;
  counter-reset: items;
  padding: 0 1rem;
  margin: 0;
}

.card__valuelist .card__value {
  display: flex;
  counter-increment: items;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.card__valuelist .card__value span {
  word-wrap: break-word;
  width: 70%;
  flex-shrink: 0;
}

.card__valuelist .card__value::before {
  display: inline-block;
  width: 2.5rem;
  margin: 0;
  color: #000000;
  margin-right: 0rem;
  display: block;
  height: 100%;
}

.card__valuelist .card__value:before {
  content: "0" counter(items);
}
.card__valuelist .card__value:nth-child(n + 10):before {
  content: "" counter(items);
}

@media only screen and (min-width: 400px) {
  .card__valuelist {
    padding: 0 1rem 0 2rem;
  }
}
