.instructions {
  padding: 3rem 1rem;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: justify;
  overflow-y: auto;
}

.instructions h1,
.instructions h2,
.instructions h3,
.instructions h4,
.instructions h5,
.instructions h6 {
  text-transform: uppercase;
}
.instructions li,
.instructions p {
  text-transform: lowercase;
}

.instructions .button--back {
  position: absolute;
  top: -0.55rem;
  left: 50%;
  margin-left: -6rem;
  width: 12rem;
}
