@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

* {
  font-family: "Major Mono Display", monospace;
  box-sizing: border-box;
}

html,
body,
#root {
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Major Mono Display", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
